<h1>Editing user information</h1>

<%= form_with(model: @user) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <%= form.submit "Update" %>



<% end %>

<%= link_to 'Edit Password', edit_user_password_path(current_user.id) %>
